include /module/_header

main.main
  section.main-content
    h1.main-content__title Skill
    p.main-content__text 自己評価ですがスキルについて説明させて頂きます。

    section.content-skill
      h1.content-skill__title Programming(Markup) + Design
      ul.skill-list#jsi-progress-bar
        li
          h2.skill-list__title JavaScript
          div.skill-list__graph--js.jsc-progress-bar-target
        li
          h2.skill-list__title CoffeeScript
          div.skill-list__graph--coffee.jsc-progress-bar-target
        li
          h2.skill-list__title Node.js
          div.skill-list__graph--node.jsc-progress-bar-target
        li
          h2.skill-list__title HTML5
          div.skill-list__graph--html5.jsc-progress-bar-target
        li
          h2.skill-list__title CSS3
          div.skill-list__graph--css3.jsc-progress-bar-target
        li
          h2.skill-list__title Jade
          div.skill-list__graph--jade.jsc-progress-bar-target
        li
          h2.skill-list__title Stylus
          div.skill-list__graph--stylus.jsc-progress-bar-target
        li
          h2.skill-list__title Sass
          div.skill-list__graph--sass.jsc-progress-bar-target
        li
          h2.skill-list__title Swift
          div.skill-list__graph--swift.jsc-progress-bar-target
        li
          h2.skill-list__title Design
          div.skill-list__graph--design.jsc-progress-bar-target
      p.content-skill__text JavaScriptについてはオブジェクト指向、HTMLについてはセマンティックなコーディングが出来ます。また、altJSやCSSプリプロセッサーも使用可能です。
        br
        | 現在、アプリ開発にも興味がありSwiftを勉強中です！

    section.content-skill
      h1.content-skill__title Tool
      ul.tool-list
        li.tool-list__icon--web-storm WebStorm
        li.tool-list__icon--sublime-text Sublime Text
        li.tool-list__icon--photoshop Photoshop
        li.tool-list__icon--illustrator Illustrator
        li.tool-list__icon--sketch Sketch
        li.tool-list__icon--git Git
        li.tool-list__icon--github GitHub
      p.content-skill__text コーディングにはWebStorm / Sublime Textを使用します。また、デザイナー出身のためPhotoshop / Illustratorも効率よく使えます。
       br
       | バージョン管理は実務でGitを使用してますので、基本的なコマンドは理解しておりターミナルから操作します。

