include /module/_header
  
main.main
  section.main-content
    h1.main-content__title Works
    p.main-content__text テキストテキストテキストテキストテキストテキストテキストテキスト。
     br
     | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
     br
     | テキストテキストテキストテキストテキストテキストテキストテキストテキスト。

    section.content-works
      div.content-works-description
        h1.content-works-description__title Company Name
        dl.content-works-description__list
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
        p.content-works-description__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      div.content-works-detail
        ul.content-works-detail__list.jsc-modal
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name

          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name

    section.content-works
      div.content-works-description
        h1.content-works-description__title Company Name
        dl.content-works-description__list
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
        p.content-works-description__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      div.content-works-detail
        ul.content-works-detail__list.jsc-modal
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name


    section.content-works
      div.content-works-description
        h1.content-works-description__title Company Name
        dl.content-works-description__list
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
        p.content-works-description__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      div.content-works-detail
        ul.content-works-detail__list.jsc-modal
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name


    section.content-works
      div.content-works-description
        h1.content-works-description__title Company Name
        dl.content-works-description__list
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
        p.content-works-description__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      div.content-works-detail
        ul.content-works-detail__list.jsc-modal
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name

    section.content-works
      div.content-works-description
        h1.content-works-description__title Company Name
        dl.content-works-description__list
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
          dt Title / テキスト
          dd Detail / テキストテキスト
        p.content-works-description__text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
          br
          | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト。
      div.content-works-detail
        ul.content-works-detail__list.jsc-modal
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name
          li
            a(href='/works/modal/company.html')
              figure.content-works-img
                div.content-works-img__mask
                  div.content-works-img__mask-inner
                    img(src='/works/images/company-pc.jpg' alt='PCサイトのスクリーンショット')
                figcaption.content-works-img__caption Site Name

  div.loading#jsi-modal-loading.jsc-dn-i
    p.loading__text Loading...

