/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_git_name = 'icon-git';
$icon_git_x = 0px;
$icon_git_y = 0px;
$icon_git_offset_x = 0px;
$icon_git_offset_y = 0px;
$icon_git_width = 50px;
$icon_git_height = 50px;
$icon_git_total_width = 170px;
$icon_git_total_height = 162px;
$icon_git_image = '/skill/images/sprite.png';
$icon_git = 0px 0px 0px 0px 50px 50px 170px 162px '/skill/images/sprite.png' 'icon-git';
$icon_github_name = 'icon-github';
$icon_github_x = 120px;
$icon_github_y = 54px;
$icon_github_offset_x = -120px;
$icon_github_offset_y = -54px;
$icon_github_width = 50px;
$icon_github_height = 43px;
$icon_github_total_width = 170px;
$icon_github_total_height = 162px;
$icon_github_image = '/skill/images/sprite.png';
$icon_github = 120px 54px -120px -54px 50px 43px 170px 162px '/skill/images/sprite.png' 'icon-github';
$icon_illustrator_name = 'icon-illustrator';
$icon_illustrator_x = 60px;
$icon_illustrator_y = 0px;
$icon_illustrator_offset_x = -60px;
$icon_illustrator_offset_y = 0px;
$icon_illustrator_width = 50px;
$icon_illustrator_height = 49px;
$icon_illustrator_total_width = 170px;
$icon_illustrator_total_height = 162px;
$icon_illustrator_image = '/skill/images/sprite.png';
$icon_illustrator = 60px 0px -60px 0px 50px 49px 170px 162px '/skill/images/sprite.png' 'icon-illustrator';
$icon_photoshop_name = 'icon-photoshop';
$icon_photoshop_x = 0px;
$icon_photoshop_y = 60px;
$icon_photoshop_offset_x = 0px;
$icon_photoshop_offset_y = -60px;
$icon_photoshop_width = 50px;
$icon_photoshop_height = 49px;
$icon_photoshop_total_width = 170px;
$icon_photoshop_total_height = 162px;
$icon_photoshop_image = '/skill/images/sprite.png';
$icon_photoshop = 0px 60px 0px -60px 50px 49px 170px 162px '/skill/images/sprite.png' 'icon-photoshop';
$icon_sketch_name = 'icon-sketch';
$icon_sketch_x = 60px;
$icon_sketch_y = 60px;
$icon_sketch_offset_x = -60px;
$icon_sketch_offset_y = -60px;
$icon_sketch_width = 50px;
$icon_sketch_height = 46px;
$icon_sketch_total_width = 170px;
$icon_sketch_total_height = 162px;
$icon_sketch_image = '/skill/images/sprite.png';
$icon_sketch = 60px 60px -60px -60px 50px 46px 170px 162px '/skill/images/sprite.png' 'icon-sketch';
$icon_sublime_text_name = 'icon-sublime-text';
$icon_sublime_text_x = 120px;
$icon_sublime_text_y = 0px;
$icon_sublime_text_offset_x = -120px;
$icon_sublime_text_offset_y = 0px;
$icon_sublime_text_width = 50px;
$icon_sublime_text_height = 44px;
$icon_sublime_text_total_width = 170px;
$icon_sublime_text_total_height = 162px;
$icon_sublime_text_image = '/skill/images/sprite.png';
$icon_sublime_text = 120px 0px -120px 0px 50px 44px 170px 162px '/skill/images/sprite.png' 'icon-sublime-text';
$icon_web_storm_name = 'icon-web-storm';
$icon_web_storm_x = 0px;
$icon_web_storm_y = 119px;
$icon_web_storm_offset_x = 0px;
$icon_web_storm_offset_y = -119px;
$icon_web_storm_width = 50px;
$icon_web_storm_height = 43px;
$icon_web_storm_total_width = 170px;
$icon_web_storm_total_height = 162px;
$icon_web_storm_image = '/skill/images/sprite.png';
$icon_web_storm = 0px 119px 0px -119px 50px 43px 170px 162px '/skill/images/sprite.png' 'icon-web-storm';
$icon_git_2x_name = 'icon-git-2x';
$icon_git_2x_x = 0px;
$icon_git_2x_y = 0px;
$icon_git_2x_offset_x = 0px;
$icon_git_2x_offset_y = 0px;
$icon_git_2x_width = 100px;
$icon_git_2x_height = 100px;
$icon_git_2x_total_width = 340px;
$icon_git_2x_total_height = 322px;
$icon_git_2x_image = '/skill/images/sprite-2x.png';
$icon_git_2x = 0px 0px 0px 0px 100px 100px 340px 322px '/skill/images/sprite-2x.png' 'icon-git-2x';
$icon_github_2x_name = 'icon-github-2x';
$icon_github_2x_x = 240px;
$icon_github_2x_y = 108px;
$icon_github_2x_offset_x = -240px;
$icon_github_2x_offset_y = -108px;
$icon_github_2x_width = 100px;
$icon_github_2x_height = 85px;
$icon_github_2x_total_width = 340px;
$icon_github_2x_total_height = 322px;
$icon_github_2x_image = '/skill/images/sprite-2x.png';
$icon_github_2x = 240px 108px -240px -108px 100px 85px 340px 322px '/skill/images/sprite-2x.png' 'icon-github-2x';
$icon_illustrator_2x_name = 'icon-illustrator-2x';
$icon_illustrator_2x_x = 120px;
$icon_illustrator_2x_y = 0px;
$icon_illustrator_2x_offset_x = -120px;
$icon_illustrator_2x_offset_y = 0px;
$icon_illustrator_2x_width = 100px;
$icon_illustrator_2x_height = 97px;
$icon_illustrator_2x_total_width = 340px;
$icon_illustrator_2x_total_height = 322px;
$icon_illustrator_2x_image = '/skill/images/sprite-2x.png';
$icon_illustrator_2x = 120px 0px -120px 0px 100px 97px 340px 322px '/skill/images/sprite-2x.png' 'icon-illustrator-2x';
$icon_photoshop_2x_name = 'icon-photoshop-2x';
$icon_photoshop_2x_x = 0px;
$icon_photoshop_2x_y = 120px;
$icon_photoshop_2x_offset_x = 0px;
$icon_photoshop_2x_offset_y = -120px;
$icon_photoshop_2x_width = 100px;
$icon_photoshop_2x_height = 97px;
$icon_photoshop_2x_total_width = 340px;
$icon_photoshop_2x_total_height = 322px;
$icon_photoshop_2x_image = '/skill/images/sprite-2x.png';
$icon_photoshop_2x = 0px 120px 0px -120px 100px 97px 340px 322px '/skill/images/sprite-2x.png' 'icon-photoshop-2x';
$icon_sketch_2x_name = 'icon-sketch-2x';
$icon_sketch_2x_x = 120px;
$icon_sketch_2x_y = 120px;
$icon_sketch_2x_offset_x = -120px;
$icon_sketch_2x_offset_y = -120px;
$icon_sketch_2x_width = 100px;
$icon_sketch_2x_height = 91px;
$icon_sketch_2x_total_width = 340px;
$icon_sketch_2x_total_height = 322px;
$icon_sketch_2x_image = '/skill/images/sprite-2x.png';
$icon_sketch_2x = 120px 120px -120px -120px 100px 91px 340px 322px '/skill/images/sprite-2x.png' 'icon-sketch-2x';
$icon_sublime_text_2x_name = 'icon-sublime-text-2x';
$icon_sublime_text_2x_x = 240px;
$icon_sublime_text_2x_y = 0px;
$icon_sublime_text_2x_offset_x = -240px;
$icon_sublime_text_2x_offset_y = 0px;
$icon_sublime_text_2x_width = 100px;
$icon_sublime_text_2x_height = 88px;
$icon_sublime_text_2x_total_width = 340px;
$icon_sublime_text_2x_total_height = 322px;
$icon_sublime_text_2x_image = '/skill/images/sprite-2x.png';
$icon_sublime_text_2x = 240px 0px -240px 0px 100px 88px 340px 322px '/skill/images/sprite-2x.png' 'icon-sublime-text-2x';
$icon_web_storm_2x_name = 'icon-web-storm-2x';
$icon_web_storm_2x_x = 0px;
$icon_web_storm_2x_y = 237px;
$icon_web_storm_2x_offset_x = 0px;
$icon_web_storm_2x_offset_y = -237px;
$icon_web_storm_2x_width = 100px;
$icon_web_storm_2x_height = 85px;
$icon_web_storm_2x_total_width = 340px;
$icon_web_storm_2x_total_height = 322px;
$icon_web_storm_2x_image = '/skill/images/sprite-2x.png';
$icon_web_storm_2x = 0px 237px 0px -237px 100px 85px 340px 322px '/skill/images/sprite-2x.png' 'icon-web-storm-2x';
$spritesheet_width = 170px;
$spritesheet_height = 162px;
$spritesheet_image = '/skill/images/sprite.png';
$spritesheet_sprites = $icon_git $icon_github $icon_illustrator $icon_photoshop $icon_sketch $icon_sublime_text $icon_web_storm;
$spritesheet = 170px 162px '/skill/images/sprite.png' $spritesheet_sprites;
$retina_spritesheet_width = 340px;
$retina_spritesheet_height = 322px;
$retina_spritesheet_image = '/skill/images/sprite-2x.png';
$retina_spritesheet_sprites = $icon_git_2x $icon_github_2x $icon_illustrator_2x $icon_photoshop_2x $icon_sketch_2x $icon_sublime_text_2x $icon_web_storm_2x;
$retina_spritesheet = 340px 322px '/skill/images/sprite-2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$icon_git_group_name = 'icon-git';
$icon_git_group = 'icon-git' $icon_git $icon_git_2x;
$icon_github_group_name = 'icon-github';
$icon_github_group = 'icon-github' $icon_github $icon_github_2x;
$icon_illustrator_group_name = 'icon-illustrator';
$icon_illustrator_group = 'icon-illustrator' $icon_illustrator $icon_illustrator_2x;
$icon_photoshop_group_name = 'icon-photoshop';
$icon_photoshop_group = 'icon-photoshop' $icon_photoshop $icon_photoshop_2x;
$icon_sketch_group_name = 'icon-sketch';
$icon_sketch_group = 'icon-sketch' $icon_sketch $icon_sketch_2x;
$icon_sublime_text_group_name = 'icon-sublime-text';
$icon_sublime_text_group = 'icon-sublime-text' $icon_sublime_text $icon_sublime_text_2x;
$icon_web_storm_group_name = 'icon-web-storm';
$icon_web_storm_group = 'icon-web-storm' $icon_web_storm $icon_web_storm_2x;
$retina_groups = $icon_git_group $icon_github_group $icon_illustrator_group $icon_photoshop_group $icon_sketch_group $icon_sublime_text_group $icon_web_storm_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
