//*********************************************
//
// Script
//
//*********************************************
.jsc-pf-i
  position fixed !important

.jsc-dn-i
  display none !important

.jsc-ofh-i
  overflow hidden !important

.jsc-ofy-i
  overflow-y scroll !important
