//*********************************************
//
// Setting
//
//*********************************************
//=============================================
// Variable
//=============================================
// ----- Font Size ----------------------------
fs-small = 10px
fs-base = 13px
fs-large = 16px
fs-x-large = 19px
fs-xx-large = 22px
fs-xxx-large = 25px

heading-small = 30px
heading-medium = 44px
heading-large = 62px

// ----- Font Color ---------------------------
fc-base = #3D4351
fc-nav = #fff
fc-logo = #fff

// ----- Font Face ----------------------------
ff-base = 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif
ff-yanone-kaffeesatz = 'Yanone Kaffeesatz', sans-serif
ff-oxygen = 'Oxygen', sans-serif;

// ----- Line Height --------------------------
lh-base = 1.4

// ----- Color --------------------------------
color-theme-light = #f39c12
color-theme-dark = #2980b9

// ----- Border Color -------------------------
bc-menu = #fff
bc-delimit = #ccc
bc-delimit-is-hover = #0f0

// ----- Duration -----------------------------
duration-slow = 900ms
duration-normal = 600ms
duration-fast = 300ms

// ----- Media Queries ------------------------
mq-pc = 'screen and (max-width: 1023px)'
mq-tb = 'screen and (max-width: 959px)'
mq-sp = 'screen and (max-width: 479px)'

nav-width-pc = 270px
nav-width-tb = 230px
nav-width-sp = 160px




